@model AspnetCore.Contact1

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Accountno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
