
@{
    ViewBag.Title = "ExportData";
}

<h2>ExportData</h2>

@model AspNetMVC.BookMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strBookTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strBookTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strAccessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strAccessionId)
        </dd>

    </dl>
</div>
@for (int i = 0; i < 10; i++) {
    <span>@i</span>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>