@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
@*@Html.ListBox("UnAssignedGroupList", (IEnumerable<SelectListItem>)ViewBag.UnAssignedGroupList, new { @title = "Unassgined Groups", @style = "font-weight:normal; " })
    <br />
    @Html.ValidationMessage("UnAssignedGroupList", "At least one unassgined group is Required.")*@
  
@model BookMaster
@using (Html.BeginForm()) {
@Html.ValidationSummary()
    @Html.ListBox("UnAssignedGroupList" );
    @Html.ValidationMessage("UnAssignedGroupList");
@*@Html.ListBox("strAccessionId", (IEnumerable<SelectListItem>)ViewData["nameList"]  );*@
    @*@Html.TextBoxFor(u=>u.strAccessionId)*@

    @Html.EditorFor(model => model.strAccessionId)
    @Html.ValidationMessageFor(model => model.strAccessionId, "", new { @class = "text-danger" });
    <input type="submit" value="click" />
}

@*@Html.LabelFor(u=>u.)*@

@*//("UnAssignedGroupList", "Company name is required.");*@
@*@Html.ListBox("strAccessionId", new List<SelectListItem>(new SelectList(Model.Publishers, "PublisherId", "PublisherName")))*@